In [1]:
%load_ext autoreload
%autoreload 2

In [ ]:
# Uploading Libraries
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.utils import resample
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import recall_score

# Scikit-learn library: For SVM
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn import svm

In [3]:
# Find the path to the dataset
import os
os.getcwd()

'/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat'

In [1]:
!pwd

/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat

In [4]:
# create a csv path
csv_path = '/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat/raw_data'
csv_path

'/Users/aliciaremontospina/code/AlcaRmsp/the_laundromat/the_laundromat/the_laundromat/raw_data'

In [5]:
# Uploading dataset into a dataframe 
data=pd.read_csv(os.path.join(csv_path, 'data.csv'))
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

## Encode labels

In [6]:
# perform one-hot encoding on non-numeric columns
data = pd.get_dummies(data, columns=['type'])

In [7]:
# create a label encoder object
le = LabelEncoder()

# apply the label encoder to non-numeric columns
data['nameOrig'] = le.fit_transform(data['nameOrig'])
data['nameDest'] = le.fit_transform(data['nameDest'])

## Prepare input and target

In [8]:
# Separate input features (X) and target variable (y)
X = data.drop(["isFraud"],axis=1)
y = data.isFraud

In [9]:
#Split and Train the data
X_train, X_test, y_train, y_test = train_test_split(X, y)

## Train a SVM Classifier model

In [10]:
classifier = svm.SVC(kernel='linear') # We set a SVM classifier, the default SVM Classifier (Kernel = Radial Basis Function)

In [ ]:
classifier.fit(X_train, y_train) # Then we train our model, with our balanced data train.

## Predict with SVM model

In [ ]:
prediction_SVM_all = classifier.predict(X_test_all) #We predict our data test.

## Hyperparameters

In [ ]:
#Looking at Gamma for curvature in decision boundary
#Apply SVM model using most commom kernel functions: Gaussian radial basis function (RBF)

rbf_svc=SVC(kernel='rbf').fit(x_train,y_train)
y_pred = rbf_svc.predict(x_test)
print('Model accuracy with rbf kernel : {0:0.3f}'. format(accuracy_score(y_test, y_pred)))

## Measure SVM model performance

In [ ]:
cm = confusion_matrix(y_test_all, prediction_SVM_all) #predicted positives/negatives vs actual positives/negatives
plot_confusion_matrix(cm,class_names)